<div class="card w-75 mx-auto">
  <div class="card-body">
    <h1 class="card-title text-center">New Post</h1>
    <form action="" method="POST" autocomplete="off">
      <%- include('_form_field') %>
    </form>
  </div>
</div>