<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Title</h5>
    <p class="card-subtitle mb-2 text-muted">Created by Logan Zipkes on 01/01/2020</h6>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nihil voluptatum laboriosam, excepturi explicabo nesciunt ratione id eius praesentium in quod consequuntur reiciendis fugit aperiam veniam tempore voluptate suscipit sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, cumque natus, laudantium debitis magni, quas deserunt mollitia distinctio minus vel aut explicabo inventore commodi eos vero repudiandae adipisci ut repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium error, a fuga deleniti voluptates quo minus perspiciatis impedit natus, voluptate, nobis rerum at tempora eveniet repellat harum consequatur corporis odit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias commodi laboriosam ipsum quidem, hic cumque neque necessitatibus quae! Delectus vero inventore voluptatibus ipsum qui quos totam dignissimos, voluptate facilis. Vero.</p>
  </div>
</div>